<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>GameMatcher</title>

    <!-- We link our html to the Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar">

        <div class="navbar-header">
            <a href="/dashboard" class="navbar-brand">Game Matcher</a>
        </div>

        <div style="display: inline-block;">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a>
                </li>
                <li><a href="/api/videogames">API Lists</a>
                </li>
                <li><a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Container Div -->
    <div class="container">

        <!-- Section 1: Navbar-->
        {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> --}}

        <!-- Our brand / logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible button -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

                <!-- The links of our navbar -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>

                </li>
            </ul>
        </div>
        </nav>





        <!-- a Bootstrap row with columns -->
        <h2 id="left">Game recommendations</h2>
        <p>You received 4 game recommendations from users</p>
        </br>
        <div class="row">
            {{#each matches}}
            <div class="col-lg-3">
                <div class="card">
                    <img src="{{img}}" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text"><strong>{{platform}}</strong></p>
                        <p class="card-text"><strong><strong>{{year}}</strong></strong></p>
                    </div>
                    <br>
                </div>
            </div>
            {{/each}}
        </div>
        </br>

        <div class="container gameLibrary">
            <div class="row">
                <div class="col-8">
                    <h2>Your game library</h2>
                </div>
                <div class="col-4 text-right">
                    <button onclick="window.location.href = '/dashboard';" type="button" class="btn"
                        data-toggle="button" aria-pressed="false" autocomplete="off">
                        View game list
                    </button>
                </div>
            </div>

            <div class="row">
                {{#each games}}
                <div class="col-lg-3">
                    <div class="card">
                        <img src="{{img}}" class="card-img-top gameImage">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text"><strong>{{platform}}</strong></p>
                            <p class="card-text"><strong><strong>{{year}}</strong></strong></p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>
</body>

</html>